.env
**/.env
./.env
__pycache__/
.venv/
venv/
.env
heartbeat_6_months.csv
.ipynb_checkpoints/
envnew.py
.DS_Store
env.py
__pycache__
mockupapi/Heartbeat_combined_filtered.csv
logs
Heartbeat_combined_filtered.csv
pandas_querycheck.ipynb
copy.ipynb
search_index_cache.pkl
